$color1: #d73f09;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@700;800;900&display=swap');

.courses-page-outer-container {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, .4)
    );
    z-index: 400;
}


.courses-page-inner-container {}

.courses-hero-outer-container {}

.courses-hero-inner-container {
    display: flex;

}

.courses-hero-calling {
    font-size: 4rem;
    margin-top: 5rem;
    line-height: 1.35;
    margin-bottom: 1.35rem;
    color: green;
}

.courses-hero-statement {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.075rem;
    max-width: 60%;
    line-height: 1.8;
    letter-spacing: .7px;
}

.courses-hero-add-form {
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 6px;
    height: fit-content;
}

.course-hero-add-form-title {
    color: $color1;
}

.course-hero-add-form-select {
    margin: .35rem 0 2rem;
    background-color: transparent;
    border: none;
}

.course-hero-select-option {}

.course-search-btn {
    width: 100%;
    padding: .5rem 0;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    background-color: $color1;
    letter-spacing: .8px;
}

.course-search-btn:hover {
    cursor: pointer;
}

.available-courses-outer-container {
    width: 100%;
    // display: flex;
    // justify-content: center;
}

.available-courses-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.available-courses-inner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.available-course {
    width: 45%;
    margin-bottom: 3rem;
    padding: 1.35rem;
    border-radius: 9px;
    // background: linear-gradient(
    //     to right bottom,
    //     rgba(215, 63, 9, .5),
    //     rgba(215, 63, 9, .3)
    // );
    background-color: #fff;
    box-shadow: #f0f0f9 1px 1px 15px;
    text-decoration: none;
}

.available-course:hover {
    cursor: pointer;
}

.available-course-header {
    text-align: center;
    margin-bottom: 1.35rem;
}

.available-course-title {
    font-size: 1.35rem;
    margin-bottom: .35rem;
    color: $color1;
    font-weight: bold;
}

.available-course-department {
    font-size: 1.1rem;
}

.course-description-container {}

.course-description {
    text-align: center;
    font-size: .85rem;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .8;
}

@media (min-width: 1080px) {
    .courses-hero-inner-container {
        max-width: 80%;
        margin: 0 auto;
        min-height: 90vh;
    }
}

.courses-list-outer-container {}

.courses-list-inner-container {
    width: 75%;
    margin: 0 auto;
}

.courses-list-title {
    font-size: 3rem;
    color: #d73f09;
    text-align: center;
    margin-bottom: 2rem;
}

.courses-list-columns {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.courses-list-column-course-title,
.courses-list-column-course-professor,
.courses-list-column-course-department,
.courses-list-column-course-options {
    color: #d73f09;
    font-weight: bold;
    font-size: 1.35rem;
    width: 10rem;
    margin-right: 3rem;
    text-align: center;
}

.courses-list-column-course-options {
    margin-right: 0;
}

.courses-list-course {
    display: flex;
    width: fit-content;
    margin: 2rem auto;
}

.courses-list-course-title,
.courses-list-course-professor,
.courses-list-course-departent {
    width: 10rem;
    margin-right: 3rem;
}

.courses-list-course-title {}

.courses-list-course-professor {}

.courses-list-course-departent {}

.courses-list-edit-course {
    color: #4267B2;
    margin-right: 1rem;
}

.courses-list-delete-course {
    color: #d73f09;
}