$color1: #d73f09;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@700;800;900&display=swap');

.teachers-page-outer-container {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, .4));
    z-index: 400;
}

button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.add.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #d73f09;
}

.teachers-page-inner-container {}

.teachers-hero-outer-container {}

.teachers-hero-inner-container {
    display: flex;

}

.teachers-hero-calling {
    font-size: 4rem;
    margin-top: 5rem;
    line-height: 1.35;
    margin-bottom: 1.35rem;
}

.teachers-hero-statement {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.075rem;
    max-width: 60%;
    line-height: 1.8;
    letter-spacing: .7px;
}

.teachers-hero-add-form {
    margin-top: 7.5rem;
    padding: 1rem;
    border-style: solid;
    border-color: #373737;
    border-width: 1px;
    border-radius: 6px;
    height: fit-content;
}

.teachers-hero-form-container {}

.teachers-hero-form-container label {
    color: $color1;
}

.teachers-select-element {
    margin-top: .35rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
}

.teachers-select-element:hover {
    cursor: pointer;
}

.teachers-hero-form-input {
    margin-top: .35rem;
    margin-bottom: 1.35rem;
    padding: .35rem 0;
}

.teachers-hero-form-submit-btn {
    width: 100%;
    padding: .7rem 0;
    font-weight: bold;
    letter-spacing: .8px;
    border: none;
    border-radius: 6px;
    background: $color1;
    color: #fff;
}

.teachers-hero-form-submit-btn:hover {
    cursor: pointer;
}

.teachers-select-all-outer-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.teachers-select-all-inner-container {
    width: 80%;
}

.teachers-display-all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}

.teachers-display-all::after {
    content: "";
    flex: auto;
}

.teachers-select-all-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: $color1;
}

.teacher-display-instance {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    border-style: solid;
    border-color: $color1;
    border-width: 2px;
    border-radius: 6px;
    padding: 2.35rem 0;
    margin-bottom: 2rem;
}

.teacher-name {
    font-size: 1.5rem;
    color: $color1;
}

.teacher-department {
    font-size: 1rem;
}

/*
.teacher-display-instance {
    display: flex;
    justify-content: space-between;
    max-width: 40%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $color1;
    padding-bottom: .35rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
*/

@media (min-width: 1080px) {
    .teachers-hero-inner-container {
        max-width: 80%;
        margin: 0 auto;
        min-height: 90vh;
    }
}